@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.center {
    display: block;
    padding: 100px 0;
    margin: 0 auto;
}
.middle {
  position: absolute;
  display: flex;
  align-items: center;
     left: 35%;
     top: 80%;
     margin-top: -11px;
     margin-left: -75px;
     width: 180%;

}
.top {
  width:auto;
  margin-top: 500px;
  position: top;

}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
/*Search bar*/
input[type=text] {
    
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.inputsize{
  width: 50%;
}
.example-card{
  width: 700px;
  margin: auto;
  bottom: -110px;
  padding: 80px;
}
.example-header-image{
  background-image: url();
  background-size: cover;
}
body {
  background: url(http://img.ctrlv.in/img/17/07/12/5966634491cf9.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}