<form>
    <md-toolbar color="accent">
        <span><img src="http://img.ctrlv.in/img/17/07/10/5963c1a4deb56.jpg" width = 200px height = 100px></span>
        <span class="example-spacer"></span>
        <md-toolbar-row>
            <span>Home</span>
            <span class="example-spacer"></span>
            <i class="material-icons">home</i>
            <i class="material-icons">account_box</i>
          </md-toolbar-row>
    </md-toolbar>
    <div class="middle">
        <md-input-container >
          <input mdInput
                 [(ngModel)]="term"
                 name="term"
                 placeholder="I'm Ready..."
                 type="text"
                 align="middle"
                 required>
                 
                 <a md-raised-button (click)="search()" [routerLink]="['/results', term]">
           Search</a>
        </md-input-container>
    </div>
</form>