<!--<header class="center">-->
<body>
<form>
  <button  md-button [mdMenuTriggerFor]="menu">
    <md-icon >menu</md-icon>
  </button>
<md-menu #menu="mdMenu">
  <button md-menu-item>Login</button>
</md-menu>


  <md-card class="example-card">
    <md-card-header>
      <div class="center">
      <md-card-title> <img src="http://img.ctrlv.in/img/17/07/06/595e7ad3c17d3.png"> </md-card-title>
    </div>
     </md-card-header>

    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
      <md-input-container class="inputsize">
          <input mdInput
                 [(ngModel)]="term"
                 name="term"
                 placeholder="I'm Ready..."
                 type="text"
                 align="middle"
                 required>
        </md-input-container>

        <md-card-actions >
           <a md-mini-fab (click)="search()" [routerLink]="['/results', term]">
           <md-icon>search</md-icon></a>
        </md-card-actions>
      </div>
    </md-card-content>

  </md-card>


</form>
</body>