.center {
    margin: auto;
    height: 200px;
    line-height: normal;
    width: 200px;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
/*Search bar*/
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
