

<form>
<div>
<md-toolbar color="accent">
        <span><img src="http://img.ctrlv.in/img/17/06/25/5950401a82ce9.png"></span>
        <span class="example-spacer"></span>
        <md-toolbar-row>
            <span>Home</span>
            <span class="example-spacer"></span>
            <md-icon class="example-icon">favorite</md-icon>

          </md-toolbar-row>
    </md-toolbar>

<div class="middle">
<md-input-container >
  <input mdInput
         [(ngModel)]="term"
         name="term"
         placeholder="I'm Ready..."
         type="text"
         align="middle"
         required>
</md-input-container>

<button  md-raised-button (click)="search()">
  <a href="ResultsPage.html">Search</a>
</button>
</div>

</div>
</form>
