html, body{
  min-height:100%;
  text-align:center;
  background-color: #FFD700;
}


h1{
  text-align:center;
  font-family:'Roboto';
}
.jumbotron{
  padding: 30px;
  text-align:center;
}
#help{
  text-align:center;
  font-family:'Roboto';
}
form{
	display:inline-block;
}
#night{
  position:absolute;
  top:0;
  right:0;
}
#prev{
position:absolute;
  left:0;
  text-align:left
}
#next{
  position: absolute;
  right:0;
 text-align: right
}
nav{
	text-align:center;
display:inline-block;
}
input
{
	border-radius:8px;
}
#inside{
text-align:center;
display:inline-block;
}
#cards{
  border-radius: 1px;
}
footer{
  text-align:center;
}