@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.sponge{
	text-align: center;
}
button{
  align-items: center;
}
.prev{
  text-align: left;
}
.next{
  text-align: right;
}
.searchbar{
	text-align: center;
}
.cards{
	padding: 20px;
	text-align: center;

}
.cards.night-mode{
	background-color: blue;
}





