@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.sponge{
	text-align: center;
}
button{
  align-items: right;
}

.searchbar{
	text-align: center;
}
.cards{
	padding: 20px;
	text-align: center;

}
.white{
	text-align: center;
	align-items: center;
}
.blue{
	background-color: #ADD8E6;
	color:white;
	text-align: center;
	align-items: center;
}
.help{
	text-align: center;
}
.inRes{
	text-align: right;
}
.searchbtn{
	text-align: center;
	align-items: center;
}





